body {
    font-family: 'Questrial', sans-serif;
    margin:0;
}

#title-header {

    /*min-height: 40vh;*/
    padding: 70px;
    background: rgb(19,47,41);
    background: linear-gradient(90deg, rgba(19,47,41,1) 0%, rgba(55,208,111,1) 100%);
    text-align:center;
    vertical-align: middle;

    margin:0 auto;

}

#title-header h1 {
    text-transform: uppercase;
    font-size:3.5em;
    flex-basis: 100%;
    font-weight: 100;
    margin-left:10px;
}

#title-header h1, #title-header h3 {
    margin:0 auto;
    color:white;
}

#title-header h3 {
    font-size:1em;
    font-style: italic;
}

#main-content p span {
    color:black;
    font-style: oblique;
}

#control-buttons button {
    display:initial;
}

div.form-inline {
    transition: all 0.5s ease; 
}

#response-content {
    visibility: hidden;
}